@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Zen+Maru+Gothic&display=swap");
@import "tailwindcss";
@plugin "daisyui";

.bg-img {
    background-image: url("./bg_img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
div {
    font-family: "Zen Maru Gothic";
    font-style: normal;
    font-weight: 500;
}

.cls-1 {
    fill: url(#linear-gradient);
}
.cls-2 {
    fill: #fff;
}
.cls-3 {
    fill: url(#linear-gradient-2);
}
