@import "tailwindcss";
@plugin "daisyui";

.bg-img {
    background-image: url("./bg_img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
div {
    font-family: "Zen Maru Gothic";
    font-style: normal;
    font-weight: 500;
}
